:root {
    --gradient-1: #f2c77c;
    --gradient-2: #ba7b59;
    --footer: #fab05c;
    --light-brown: #633923;
    --light-orange: #ee814a;
    --result: #af3aee;
    --dark-brown: #4a2a1b;
    --black: #161925;
    --white: #FFF1D0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, var(--gradient-1), var(--gradient-2));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2rem;
    max-width: 75vh;
}

h1 {
    color: var(--light-brown);
}

.description {
    color: var(--black);
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    width: 80%;
    margin: 1rem 0;
    border: 1px solid var(--light-brown);
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--light-brown);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-orange);
}

p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#result {
    color: var(--result);
}

#generated-palindromes, p{
    color: var(--dark-brown);
}

footer {
    background-color: var(--footer);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
}

footer p {
    color: black;
}

.github-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    transition: transform 0.3s;
}

.github-logo:hover {
    transform: scale(1.2);
}
